---
openapi: 3.1.0
info:
  title: Fulcrum Rest API
  version: '2'
servers:
- url: https://api.fulcrumapp.com/api
  description: For customers provisioned data residency in The United States of America.
- url: https://api.fulcrumapp-au.com/api
  description: For customers provisioned data residency in Australia.
- url: https://api.fulcrumapp-eu.com/api
  description: For customers provisioned data residency in the European Union.
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: X-ApiToken
security:
- sec0: []
paths:
  "/v2/authorizations.json":
    summary: Authorizations
    get:
      tags:
      - Authorizations
      summary: Get All Authorizations
      description: ''
      operationId: authorizations-get-all
      parameters:
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      tags:
      - Authorizations
      summary: Create Authorization
      description: ''
      operationId: authorizations-create
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"authorization": {"organization_id": "my-organization-id",
                    "note": "My New API Token"} }'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/authorizations/{authorization_id}.json":
    get:
      summary: Get Single Authorization
      description: ''
      operationId: authorizations-get-single
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: authorization_id
        in: path
        description: Authorization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Authorization
      description: ''
      operationId: authorizations-update
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: authorization_id
        in: path
        description: Authorization ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"authorization": {"organization_id": "organization-id-from-get-user",
                    "note": "My Updated Description"} }'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Authorization
      description: ''
      operationId: authorizations-delete
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: authorization_id
        in: path
        description: Authorization ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/users.json":
    get:
      summary: Get User Information
      description: ''
      operationId: users-get-user
      parameters:
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/roles.json":
    get:
      summary: Get All Roles
      description: ''
      operationId: roles-get-all
      parameters:
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: sort
        in: query
        description: Sort by role name. Default sort is by `updated_at` if sort is
          not provided
        schema:
          type: string
      - name: sort_direction
        in: query
        description: The sort direction (asc, desc). Default is `asc`
        schema:
          type: string
          default: asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/forms.json":
    get:
      summary: Get All Forms
      description: ''
      operationId: forms-get-all
      parameters:
      - name: schema
        in: query
        description: schema=false will only return the form metadata
        schema:
          type: boolean
          default: true
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: type
        in: query
        description: Types of forms to return
        schema:
          type: string
          enum:
          - organization
          - system
          - all
          default: organization
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Form
      description: ''
      operationId: forms-create
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"form": {"name": "Fire Hydrant Inventory","description":
                    "Inventory of fire hydrant structures.","elements": [{"type":
                    "TextField","key": "2832","label": "ID Tag","data_name": "id_tag","description":
                    "Enter the asset tag ID.","required": false,"disabled": false,"hidden":
                    false,"default_value": ""}, {"type": "ChoiceField","key": "8373","label":
                    "Hydrant Type","data_name": "hydrant_type","description": "What
                    style of hydrant is it?","required": false,"disabled": false,"hidden":
                    false,"default_value": "","multiple": false,"allow_other": false,"choices":
                    [{"label": "Pillar","value": "pillar"}, {"label": "Pond","value":
                    "pond"}, {"label": "Standpipe","value": "standpipe"}, {"label":
                    "Underground","value": "underground"}, {"label": "Wall","value":
                    "wall"}]}]}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/forms/{form_id}.json":
    get:
      summary: Get Single Form
      description: ''
      operationId: forms-get-single
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: schema
        in: query
        description: schema=false will only return the form metadata
        schema:
          type: boolean
          default: true
      - name: form_id
        in: path
        description: Form ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Form
      description: ''
      operationId: forms-update
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: form_id
        in: path
        description: Form ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{   "form": {     "name": "Updated Fire Hydrant Inventory",     "description":
                    "Updated Inventory of fire hydrant structures.",     "elements":
                    [{       "type": "TextField",       "key": "2832",       "label":
                    "ID Tag",       "data_name": "id_tag",       "description": "Enter
                    the asset tag ID.",       "required": false,       "disabled":
                    false,       "hidden": false,       "default_value": ""     },
                    {       "type": "ChoiceField",       "key": "8373",       "label":
                    "Hydrant Type",       "data_name": "hydrant_type",       "description":
                    "What style of hydrant is it?",       "required": false,       "disabled":
                    false,       "hidden": false,       "default_value": "",       "multiple":
                    false,       "allow_other": false,       "choices": [{         "label":
                    "Pillar",         "value": "pillar"       }, {         "label":
                    "Pond",         "value": "pond"       }, {         "label": "Standpipe",         "value":
                    "standpipe"       }, {         "label": "Underground",         "value":
                    "underground"       }, {         "label": "Wall",         "value":
                    "wall"       }]     }]   } }'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Form
      description: ''
      operationId: forms-delete
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: form_id
        in: path
        description: Form ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/forms/{form_id}/history.json":
    get:
      summary: Get Form History
      description: ''
      operationId: forms-get-history
      parameters:
      - name: form_id
        in: path
        description: Form ID
        schema:
          type: string
        required: true
      - name: version
        in: query
        description: The form history version
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/memberships.json":
    get:
      summary: Get All Memberships
      description: ''
      operationId: memberships-get-all
      parameters:
      - name: form_id
        in: query
        description: Limit members to a specific Form
        schema:
          type: string
      - name: project_id
        in: query
        description: Limit members to a specific Project
        schema:
          type: string
      - name: layer_id
        in: query
        description: Limit members to a specific Layer
        schema:
          type: string
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Member
      description: ''
      operationId: create-member
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{     "membership":          {             "email": "vincent.lauffer@spatialnetworks.com",             "first_name":
                    "Vince",             "last_name": "Lauffer",             "role_id":
                    "8f1d62ca-54ba-4ae3-89c5-8a3c5ba958c8"         } }'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/memberships/{membership_id}.json":
    get:
      summary: Get Single Membership
      description: ''
      operationId: memberships-get-single
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: membership_id
        in: path
        description: Membership ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Member
      description: ''
      operationId: delete-member
      parameters:
      - name: membership_id
        in: path
        description: The ID of the member
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                membership:
                  type: string
                  default: '{     "membership": {         "reassign_to_membership_id":
                    null     } }'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Member
      description: You can use this to update parameters of a member, but this will
        not work if the member is apart of multiple organizations.
      operationId: update-member
      parameters:
      - name: membership_id
        in: path
        description: The ID of the member
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                membership:
                  type: string
                  default: '{     "membership": {         "email": "new_email@spatialnetworks.com"     }
                    }'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/memberships/change_permissions.json":
    post:
      summary: Change Permissions
      description: Add or remove membership permissions from layers, forms, or projects
      operationId: memberships-change-permissions
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  description: See notes below for configuration
                  default: '{"change": {"type": "form_members","form_id": "my-form-id","add":
                    ["my-member-id-1","my-member-id-2"]}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/records.json":
    get:
      summary: Get All Records
      description: ''
      operationId: records-get-all
      parameters:
      - name: newest_first
        in: query
        description: If present, records will be sorted by updated_at date.
        schema:
          type: boolean
      - name: bounding_box
        in: query
        description: 'Bounding box of the records requested. Format should be: lat,long,lat,long
          (bottom, left, top, right).'
        schema:
          type: string
      - name: changeset_id
        in: query
        description: The id of the changeset associated with the record.
        schema:
          type: string
      - name: form_id
        in: query
        description: The id of the form with which the record is associated. Leaving
          this blank will query against all of your records.
        schema:
          type: string
      - name: project_id
        in: query
        description: The id of the project with which the record is associated. Leaving
          this blank will query against all of your records.
        schema:
          type: string
      - name: client_created_before
        in: query
        description: Return only records which were created by the client (device)
          before the given time.
        schema:
          type: string
          format: date-time
      - name: client_created_since
        in: query
        description: Return only records which were created by the client (device)
          after the given time.
        schema:
          type: string
          format: date-time
      - name: client_updated_before
        in: query
        description: Return only records which were updated by the client (device)
          before the given time.
        schema:
          type: string
          format: date-time
      - name: client_updated_since
        in: query
        description: Return only records which were updated by the client (device)
          after the given time.
        schema:
          type: string
          format: date-time
      - name: created_before
        in: query
        description: Return only records which were created (on the server) before
          the given time.
        schema:
          type: string
          format: date-time
      - name: created_since
        in: query
        description: Return only records which were created (on the server) after
          the given time.
        schema:
          type: string
          format: date-time
      - name: updated_before
        in: query
        description: Return only records which were updated (on the server) before
          the given time.
        schema:
          type: string
          format: date-time
      - name: updated_since
        in: query
        description: Return only records which were updated (on the server) after
          the given time.
        schema:
          type: string
          format: date-time
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Record
      description: ''
      operationId: records-create
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"record": {"form_id": "my-form-id","latitude": 27.770787,"longitude":
                    -82.638039,"form_values": {"2832": "123-ABC","8373": {"choice_values":
                    ["standpipe"]}}}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/records/{record_id}.json":
    get:
      summary: Get Single Record
      description: ''
      operationId: records-get-single
      parameters:
      - name: record_id
        in: path
        description: Record ID
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Record
      description: ''
      operationId: records-update
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: record_id
        in: path
        description: Record ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"record": {"form_id": "my-form-id","latitude": 27.770787,"longitude":
                    -82.638039,"form_values": {"2832": "123-ABC","8373": {"choice_values":
                    ["pillar"]}}}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Record
      description: ''
      operationId: records-delete
      parameters:
      - name: record_id
        in: path
        description: Record ID
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/records/{record_id}/history.json":
    get:
      summary: Get Record History
      description: ''
      operationId: records-get-history
      parameters:
      - name: record_id
        in: path
        description: Record ID
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/choice_lists.json":
    get:
      summary: Get All Choice Lists
      description: ''
      operationId: choice-lists-get-all
      parameters:
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Choice List
      description: ''
      operationId: choice-lists-create
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"choice_list": {"name": "Bridge Inspection Conditions","choices":
                    [{"label": "Excellent","value": "Excellent"},{"label": "Good","value":
                    "Good"},{"label": "Fair","value": "Fair"},{"label": "Poor","value":
                    "Poor"},{"label": "Unrated","value": "Unrated"},{"label": "N/A","value":
                    "N/A"}]}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/choice_lists/{choice_list_id}.json":
    get:
      summary: Get Single Choice List
      description: ''
      operationId: choice-lists-get-single
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: choice_list_id
        in: path
        description: Choice List ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Choice List
      description: ''
      operationId: choice-lists-update
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: choice_list_id
        in: path
        description: Choice List ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"choice_list": {"name": "Bridge Inspection Conditions","choices":
                    [{"label": "Excellent","value": "Excellent"},{"label": "Good","value":
                    "Good"},{"label": "Fair","value": "Fair"},{"label": "Poor","value":
                    "Poor"},{"label": "Needs Replacing","value": "Replace"},{"label":
                    "Unrated","value": "Unrated"},{"label": "N/A","value": "N/A"}]}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Choice List
      description: ''
      operationId: choice-lists-delete
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: choice_list_id
        in: path
        description: Choice List ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/classification_sets.json":
    get:
      summary: Get All Classification Sets
      description: ''
      operationId: classification-sets-get-all
      parameters:
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: type
        in: query
        description: Type of classification sets to return
        schema:
          type: string
          enum:
          - organization
          - system
          - all
          default: organization
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Classification Set
      description: ''
      operationId: classification-sets-create
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"classification_set": {"name": "Wildlife Types","items":
                    [{"label": "Bird","value": "Bird","child_classifications": [{"label":
                    "Cormorant","value": "Cormorant"}, {"label": "Egret","value":
                    "Egret"}, {"label": "Frigate Bird","value": "Frigate Bird"}, {"label":
                    "Heron","value": "Heron"}, {"label": "Osprey","value": "Osprey"},
                    {"label": "Pelican","value": "Pelican"}, {"label": "Pigeon","value":
                    "Pigeon"}, {"label": "Tern","value": "Tern"}]}, {"label": "Butterfly","value":
                    "Butterfly"}, {"label": "Fish","value": "Fish"}, {"label": "Manatee","value":
                    "Manatee"}, {"label": "Shellfish","value": "Shellfish","child_classifications":
                    [{"label": "Crab","value": "Crab","child_classifications": [{"label":
                    "Blue Crab","value": "Blue Crab"}, {"label": "Fiddler Crab","value":
                    "Fiddler Crab"}, {"label": "Hermit Crab","value": "Hermit Crab"}]}]},
                    {"label": "Turtle","value": "Turtle"}]}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/classification_sets/{classification_set_id}.json":
    get:
      summary: Get Single Classification Set
      description: ''
      operationId: classification-sets-get-single
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: classification_set_id
        in: path
        description: Classification Set ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Classification Set
      description: ''
      operationId: classification-sets-update
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: classification_set_id
        in: path
        description: Classification Set ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"classification_set": {"name": "Wildlife Types","items":
                    [{"label": "Bird","value": "Bird","child_classifications": [{"label":
                    "Cormorant","value": "Cormorant"}, {"label": "Egret","value":
                    "Egret"}, {"label": "Frigate Bird","value": "Frigate Bird"}, {"label":
                    "Heron","value": "Heron"}, {"label": "Osprey","value": "Osprey"},
                    {"label": "Pelican","value": "Pelican"}, {"label": "Pigeon","value":
                    "Pigeon"}, {"label": "Tern","value": "Tern"}]}, {"label": "Butterfly","value":
                    "Butterfly"}, {"label": "Fish","value": "Fish"}, {"label": "Manatee","value":
                    "Manatee"}, {"label": "Shellfish","value": "Shellfish","child_classifications":
                    [{"label": "Crab","value": "Crab","child_classifications": [{"label":
                    "Blue Crab","value": "Blue Crab"}, {"label": "Fiddler Crab","value":
                    "Fiddler Crab"}, {"label": "Hermit Crab","value": "Hermit Crab"}]}]},
                    {"label": "Turtle","value": "Turtle"}, {"label": "Frog","value":
                    "Frog"}]}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Classification Set
      description: ''
      operationId: classification-sets-delete
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: classification_set_id
        in: path
        description: Classification Set ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/projects.json":
    get:
      summary: Get All Projects
      description: ''
      operationId: projects-get-all
      parameters:
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Project
      description: ''
      operationId: projects-create
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"project": {"name": "Pinellas County","description":
                    "For records in Pinellas County"}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/projects/{project_id}.json":
    get:
      summary: Get Single Project
      description: ''
      operationId: projects-get-single
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: project_id
        in: path
        description: Project ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Project
      description: ''
      operationId: projects-update
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: project_id
        in: path
        description: Project ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"project": {"name": "Pinellas County, FL","description":
                    "For records in Pinellas County, FL"}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Project
      description: ''
      operationId: projects-delete
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: project_id
        in: path
        description: Project ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/layers.json":
    get:
      summary: Get All Layers
      description: ''
      operationId: layers-get-all
      parameters:
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Create Layer
      description: ''
      operationId: layers-create
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"layer": {"name": "USGS Topo","type": "xyz","source":
                    "http://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}"}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/layers/{layer_id}.json":
    get:
      summary: Get Single Layer
      description: ''
      operationId: layers-get-single
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: layer_id
        in: path
        description: Layer ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    put:
      summary: Update Layer
      description: ''
      operationId: layers-update
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: layer_id
        in: path
        description: Layer ID
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: string
                  default: '{"layer": {"name": "USGS Topo","description": "USGS Topo
                    Base Map - Primary Tile Cache","type": "xyz","source": "http://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}"}}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete Layer
      description: ''
      operationId: layers-delete
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: layer_id
        in: path
        description: Layer ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/photos.json":
    get:
      summary: Get All Photos
      description: ''
      operationId: photos-get-all-metadata
      parameters:
      - name: record_id
        in: query
        description: The ID of the record with which the photo is associated.
        schema:
          type: string
      - name: form_id
        in: query
        description: The ID of the form with which the photo is associated. Leaving
          this blank will query against all of your photos.
        schema:
          type: string
      - name: newest_first
        in: query
        description: If present, photos will be sorted by updated_at date.
        schema:
          type: boolean
      - name: processed
        in: query
        description: Photo has been completely processed.
        schema:
          type: boolean
      - name: stored
        in: query
        description: Photo has been completely stored.
        schema:
          type: boolean
      - name: uploaded
        in: query
        description: Photo has been completely uploaded.
        schema:
          type: boolean
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Upload Photo
      description: ''
      operationId: photos-upload
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: |-
            curl --request POST 'https://api.fulcrumapp.com/api/v2/photos' \
            --header 'Accept: application/json' \
            --header 'X-ApiToken: {token}' \
            --form 'photo[access_key]='$(uuidgen) \
            --form 'photo[file]=@/Users/bryan/Desktop/photo.jpg'
          name: cURL
        - language: python
          code: |-
            from fulcrum import Fulcrum
            fulcrum = Fulcrum('{token}')

            photo = fulcrum.photos.create('/Users/bryan/Desktop/photo.jpg')
            print(photo['photo'])
          name: Python
        - language: javascript
          code: |-
            const { Client } = require('fulcrum-app');
            const client = new Client('{token}');

            const fs = require('fs');
            const photo = fs.createReadStream('/Users/bryan/Desktop/photo.jpg');

            client.photos.create(photo)
              .then(created => console.log(created))
              .catch(error => console.log(error));
          name: JavaScript
        - language: ruby
          code: |-
            require 'fulcrum'

            client = Fulcrum::Client.new('{token}')

            photo = client.photos.create('/Users/bryan/Desktop/photo.jpg')

            puts photo
          name: Ruby
        samples-languages:
        - curl
        - python
        - javascript
        - ruby
  "/v2/photos/{photo_id}.json":
    get:
      summary: Get Single Photo Metadata
      description: ''
      operationId: photos-get-single-metadata
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: photo_id
        in: path
        description: Photo ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/photos/{photo_id}.jpg":
    get:
      summary: Get Single Photo File
      description: ''
      operationId: photos-get-single-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: photo_id
        in: path
        description: Photo ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/photos/{photo_id}/thumbnail.json":
    get:
      summary: Photo Thumbnail Metadata
      description: ''
      operationId: photos-thumbnail-metadata
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: photo_id
        in: path
        description: Photo ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/photos/{photo_id}/thumbnail.jpg":
    get:
      summary: Photo Thumbnail File
      description: ''
      operationId: photos-thumbnail-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: photo_id
        in: path
        description: Photo ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/photos/{photo_id}/large.json":
    get:
      summary: Photo Large Metadata
      description: ''
      operationId: photos-large-metadata
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: photo_id
        in: path
        description: Photo ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/photos/{photo_id}/large.jpg":
    get:
      summary: Photo Large File
      description: ''
      operationId: photos-large-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: photo_id
        in: path
        description: Photo ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/signatures.json":
    get:
      summary: Get All Signatures
      description: ''
      operationId: signatures-get-all
      parameters:
      - name: record_id
        in: query
        description: The ID of the record with which the photo is associated.
        schema:
          type: string
      - name: form_id
        in: query
        description: The ID of the form with which the photo is associated. Leaving
          this blank will query against all of your photos.
        schema:
          type: string
      - name: newest_first
        in: query
        description: If present, photos will be sorted by updated_at date.
        schema:
          type: boolean
      - name: processed
        in: query
        description: Signature has been completely processed.
        schema:
          type: boolean
      - name: stored
        in: query
        description: Signature has been completely stored.
        schema:
          type: boolean
      - name: uploaded
        in: query
        description: Signature has been completely uploaded.
        schema:
          type: boolean
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
    post:
      summary: Upload Signature
      description: ''
      operationId: signatures-upload
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: |-
            curl --request POST 'https://api.fulcrumapp.com/api/v2/signatures' \
            --header 'Accept: application/json' \
            --header 'X-ApiToken: {token}' \
            --form 'signature[access_key]='$(uuidgen) \
            --form 'signature[file]=@/Users/bryan/Desktop/signature.jpg'
          name: cURL
        - language: python
          code: |-
            from fulcrum import Fulcrum
            fulcrum = Fulcrum('{token}')

            signature = fulcrum.signatures.create('/Users/bryan/Desktop/signature.jpg')
            print(signature['signature'])
          name: Python
        - language: javascript
          code: |-
            const { Client } = require('fulcrum-app');
            const client = new Client('{token}');

            const fs = require('fs');
            const signature = fs.createReadStream('/Users/bryan/Desktop/signature.jpg');

            client.signatures.create(signature)
              .then(created => console.log(created))
              .catch(error => console.log(error));
          name: JavaScript
        - language: ruby
          code: |-
            require 'fulcrum'

            client = Fulcrum::Client.new('{token}')

            signature = client.signatures.create('/Users/bryan/Desktop/signature.jpg')

            puts signature
          name: Ruby
        samples-languages:
        - curl
        - python
        - javascript
        - ruby
  "/v2/signatures/{signature_id}.json":
    get:
      summary: Get Single Signature Metadata
      description: ''
      operationId: signatures-get-single-metadata
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: signature_id
        in: path
        description: Signature ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/signatures/{signature_id}.png":
    get:
      summary: Get Single Signature File
      description: ''
      operationId: signatures-get-single-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: signature_id
        in: path
        description: Signature ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/signatures/{signature_id}/thumbnail.json":
    get:
      summary: Signature Thumbnail Metadata
      description: ''
      operationId: signatures-get-thumbnail-metadata
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: signature_id
        in: path
        description: Signature ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/signatures/{signature_id}/thumbnail.png":
    get:
      summary: Signature Thumbnail File
      description: ''
      operationId: signatures-get-thumbnail-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: signature_id
        in: path
        description: Signature ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos.json":
    get:
      summary: Get All Videos
      description: ''
      operationId: videos-get-all
      parameters:
      - name: record_id
        in: query
        description: The ID of the record with which the video is associated.
        schema:
          type: string
      - name: form_id
        in: query
        description: The ID of the form with which the video is associated. Leaving
          this blank will query against all of your videos.
        schema:
          type: string
      - name: newest_first
        in: query
        description: If present, videos will be sorted by updated_at date.
        schema:
          type: boolean
      - name: processed
        in: query
        description: Video has been completely processed.
        schema:
          type: boolean
      - name: stored
        in: query
        description: Video has been completely stored.
        schema:
          type: boolean
      - name: uploaded
        in: query
        description: Video has been completely uploaded.
        schema:
          type: boolean
      - name: page
        in: query
        description: The page number requested
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 20000
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}.json":
    get:
      summary: Get Video Metadata
      description: ''
      operationId: videos-get-single-metadata
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}.mp4":
    get:
      summary: Get Original Video File
      description: ''
      operationId: videos-get-original-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/track.geojson":
    get:
      summary: Get GeoJSON Video Track
      description: ''
      operationId: videos-get-single-track-geojson
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      - name: type
        in: query
        description: Set value to `points` to fetch tracks as GeoJSON points
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/track.json":
    get:
      summary: Get JSON Video Track
      description: ''
      operationId: videos-get-single-track-json
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/track.kml":
    get:
      summary: Get KML Video Track
      description: ''
      operationId: videos-get-single-track-kml
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/track.gpx":
    get:
      summary: Get GPX Video Track
      description: ''
      operationId: videos-get-single-track-gpx
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/tracks.geojson":
    get:
      summary: Get GeoJSON Tracks for All Videos
      description: ''
      operationId: videos-get-all-tracks-geojson
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: type
        in: query
        description: Set value to `points` to fetch tracks as GeoJSON points
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/tracks.kml":
    get:
      summary: Get KML Tracks for All Videos
      description: ''
      operationId: videos-get-all-tracks-kml
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/tracks.gpx":
    get:
      summary: Get GPX Tracks for All Videos
      description: ''
      operationId: videos-get-all-tracks-gpx
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/medium.mp4":
    get:
      summary: Get Medium Video File
      description: ''
      operationId: videos-get-medium-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/small.mp4":
    get:
      summary: Get Small Video File
      description: ''
      operationId: videos-get-small-file
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/thumbnail_small.jpg":
    get:
      summary: Get Small Video Thumbnail
      description: ''
      operationId: videos-get-thumbnail-small
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/thumbnail_medium.jpg":
    get:
      summary: Get Medium Video Thumbnail
      description: ''
      operationId: videos-get-thumbnail-medium
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/thumbnail_large.jpg":
    get:
      summary: Get Large Video Thumbnail
      description: ''
      operationId: videos-get-thumbnail-large
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/thumbnail_huge.jpg":
    get:
      summary: Get Huge Video Thumbnail
      description: ''
      operationId: videos-get-thumbnail-huge
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/thumbnail_small_square.jpg":
    get:
      summary: Get Small Square Video Thumbnail
      description: ''
      operationId: videos-get-thumbnail-small-square
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/thumbnail_medium_square.jpg":
    get:
      summary: Get Medium Square Video Thumbnail
      description: ''
      operationId: videos-get-thumbnail-medium-square
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                type: object
                properties: {}
      deprecated: false
  "/v2/videos/{video_id}/thumbnail_large_square.jpg":
    get:
      summary: Get Large Square Video Thumbnail
      description: ''
      operationId: videos-get-thumbnail-large-square
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: video_id
        in: path
        description: Video ID
        schema:
          type: string
[...]
